/* body {
    overflow: hidden;
} */

:root {
    --nav-font-height: 50px;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.horizontal_flex {
    width: 100%;
    display: flex;
    flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: space-evenly;
	align-items: center;
}

.vertical_flex {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------------------------------------- */
#div1 {
    height: max(100vh,500px);
}

nav a{
    margin: 10%;
}

nav{
    background-color: #c4c2bc;

    width: max(45%, 300px);
    /* margin:0 27.5%; */
    padding-top: 1%;
    padding-bottom: 1%;

    
    text-align: center;
    font-size: var(--nav-font-height);

    align-self: center;
}

#div1_text {
    align-self: center;
    height: calc(100vh - var(--nav-font-height) - 2%);
    margin-top: calc(var(--nav-font-height) + 3%);
    
} 

#div1 h1 {
    margin-bottom: 10%;
    font-size: 125px;
}

#div1 h2 {
    font-size: 30px;
}

/* -------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------- */

#div2 {
    background-color: lightblue;
    height: max(100vh, 500px);
}

#div2 h1 {
    max-width: 800px;
    /* flex-grow: 1; */
    font-size: 75px;
    margin: 0% 7% 7% 0%;
}

#div_2_img_1 {
    width: 300px;
    /* flex-grow: 1; */
}

#div_2_img_2 {
    width: 300px;
    /* flex-grow: 1; */
}

#div_2_h2 {
    width: 350px;
    /* flex-grow: 1; */
}






























.div2 h1 {
    text-align: center;
    font-size: 450%;
    padding-top: 4%;
    color: white;
}

.div2 h2 {
    width: 40%;
    color: black;
    padding-top: 7%;
    position: absolute;
    padding-left: 30%;
    text-align: center;
}

.div_2_img_2 {
    position: absolute;

    display: inline-block;

    display: block;
    margin-left: 40%;
    margin-top: 47vh;
    width: 40vh; 
}

.div3 h1{
    text-align: center;
    font-size: 450%;
    padding-top: 4%;
    color: white;
}

.resume {
    width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 37vh;
}

.resume img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 12vh;
}

.resume p {
    color: black;
    text-align: center;
    font-size: 03vh;
    font-weight: 100;
}
/* 
@media all and (display-mode: fullscreen) {
    .div1 h1 {
        color: red;
    }
  } */


  #myBtn {
      height: 5vw;
      width: 5vw;
    background-image: url("../images/index/top.png");
    size: 100%;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-width: 0.2em;
    border-color: black;
    background-color: white; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    background-size: 3vw;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #myBtn:hover {
    background-color: grey; /* Add a dark-grey background on hover */
  }

