/* body {
    overflow: hidden;
} */

html {
    height: 100%;
}

body {
    overflow-x: hidden;
}

nav a{
    padding: 10vw;
}

.backDiv {
    height: 100vh;
    width: 100%;
    display: inline-block;
    position: relative;
}

nav{
    margin:0 auto;
    background-color: #c4c2bc;
    height: 8%; 
    width: 75%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

    text-align: center;
    font-size: 300%;
}

.div1 h1 {
    padding:10% 10%;
    position: absolute;
    font-size: 900%;
    color: whitesmoke;
}

.div1 h2 {
    padding:17% 50%;
    position: absolute;
    font-size: 300%;
    color: white;
    width: 35%;
}

.div2 h1 {
    text-align: center;
    font-size: 450%;
    padding-top: 4%;
    color: white;
}

.div2 h2 {
    width: 40%;
    color: black;
    padding-top: 7%;
    position: absolute;
    padding-left: 30%;
    text-align: center;
}

.div_2_img_2 {
    position: absolute;

    display: inline-block;

    display: block;
    margin-left: 40%;
    margin-top: 47vh;
    width: 40vh; 
}

.div3 h1{
    text-align: center;
    font-size: 450%;
    padding-top: 4%;
    color: white;
}

.resume {
    width: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 37vh;
}

.resume img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 12vh;
}

.resume p {
    color: black;
    text-align: center;
    font-size: 03vh;
    font-weight: 100;
}