#mainNav{
    margin:0 auto;
    background-color: #c4c2bc;
    height: 80px; 
    width: 75%;

    text-align: center;
    font-size: 60px;
}

#auxillaryNav{
    margin:0 auto;
    background-color: #c4c2bc;
    height: 40px; 
    width: 30%;
    border-radius: 10%;

    text-align: center;
    font-size: 30px;
}

#mainH1{
    text-align: center; /* centering */
    

    font-size: 100px;
}

#auxillaryH1{
    padding-left: 5%;
    padding-top: -1%;

    font-size: 80px;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    opacity: 80%;
    color: green;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  nav li {
    display: inline-block;
    padding: 5px 5px;
 }

 nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
  }

  nav a {
    font-weight: normal;
    padding: 50px 50px;
    font-size: .80em;
  }